<body>
  <h1><a href="/index.html">Money Tracker</a></h1>

  <input type="checkbox" id="mobileMenuBtn" />
  <label for="mobileMenuBtn" class="hamburgerBtn mobileBtn">
    <img src="/img/mobile-menu.svg" alt="menu-button" />
  </label>

  <nav>
    <label for="mobileMenuBtn" class="closeBtn mobileBtn">
      <img src="/img/mobile-close.svg" alt="close-button" />
    </label>
    <div class="user-info">
      <a href="/pages/UserInfo/index.html">
        <img src="/img/undraw_profile.svg" alt="undraw_profile" />
        <h3 id="user-name">Name</h3>
      </a>
    </div>

    <div class="menuContain">
      <div class="menu">
        <a href="/index.html">
          <img src="/img/Dashboard-icon.svg" alt="Dashboard-icon" />
          <h3 class="active">Dashboard</h3>
        </a>
      </div>
      <div class="menu">
        <a href="/pages/expense-list/index.html">
          <img src="/img/Transaction-icon.svg" alt="Transaction-icon" />
          <h3>Transaction</h3>
        </a>
      </div>
      <div class="menu">
        <a href="/pages/UserInfo/index.html">
          <img src="/img/user-info.svg" alt="UserInfo-icon" />
          <h3>User Info</h3>
        </a>
      </div>
    </div>
  </nav>
</body>
