@import url("./global.css");

body {
  background-image: radial-gradient(circle, #ffffff, #ccc3dc);
  padding: 32px 0;
  height: 100vh;
  color: var(--main-purple-color);
}

.wrap {
  width: 90%;
  max-width: 1440px;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}

main {
  width: -webkit-fill-available;
  display: flex;
  gap: 80px;
  padding: 24px 40px;
}

header,
nav {
  height: 100%;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 70px;
  align-items: center;
}

header {
  border-right: 1px solid var(--main-purple-color);
  padding: 24px 0;
}

#mobileMenuBtn,
.mobileBtn {
  display: none;
}

.user-info a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.user-info img {
  width: 50%;
}

.menuContain {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.menu > a {
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

.menu img {
  width: 40px;
  margin-right: 10px;
}

.menu a h3 {
  color: var(--sub-purple-color);
}

.menu a h3.active {
  color: var(--main-purple-color);
}

/* section */

section {
  width: -webkit-fill-available;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.current-box {
  width: 100%;
  background-color: var(--secondary-gray);
  padding: 48px 40px;
  border-radius: 24px;
  box-shadow: 5px 5px 10px #ccc3dc;
}

.transTitle {
  color: var(--sub-purple-color);
  font-weight: 500;
}

.current-box h1 {
  font-size: 3rem;
}

.monthlyExpense {
  display: flex;
  width: 100%;
}

.MonthSummary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.MonthSummary.income {
  border-right: 1px solid var(--sub-purple-color);
}

.MonthSummary.income h2 {
  color: var(--green-to-income);
}
.MonthSummary.expense h2 {
  color: var(--red-to-expense);
}

.recentPayment {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  overflow-y: auto;
}

.recentTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recentPayment hr {
  width: 100%;
  border-top: thin solid var(--sub-purple-color);
}

.tableWrap {
  overflow-y: auto;
}

table {
  table-layout: fixed;
  width: 100%;
}

tr {
  margin-bottom: 10px;
  text-align: center;
}

tbody tr {
  width: 100%;
}

th:first-child {
  width: 24px;
}

tbody tr td:first-child {
  display: flex;
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
  border-radius: 100%;
  overflow: hidden;
}

tbody tr.transIncome td:first-child {
  background-color: var(--green-to-income);
}
tbody tr.transExpense td:first-child {
  background-color: var(--red-to-expense);
}

.chartArea,
.categoriesChart {
  flex: 1;
  max-height: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

canvas {
  flex: 1;
  width: 100%;
  height: auto;
}

input {
  color: #000;
}

#mobileBottom {
  display: none;
}

/* inputForm */
#inputForm {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* justify-content: space-between; */
}

select,
input {
  padding: 5px;
  border-radius: 5px;
  border: thin solid var(--sub-purple-color);
}

button {
  padding: 5px 15px;
  border-radius: 5px;
  color: var(--main-purple-color);
  border: thin solid var(--sub-purple-color);
}

button[type="submit"] {
  color: #fff;
  background-color: var(--main-purple-color);
}
