@media screen and (max-width: 1024px) {
  main {
    gap: 40px;
    flex-direction: column;
  }
  tbody tr td:first-child {
    width: 18px;
    height: 18px;
  }

  canvas {
    min-height: 300px;
  }
}
@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }

  .wrap {
    flex-direction: column;
    padding: 0 5%;
    background-color: transparent;
    width: 100%;
    overflow: auto;
  }

  header {
    flex-direction: row;
    width: 100%;
    border: none;
    justify-content: space-between;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 5%;
    background-image: radial-gradient(circle, #d9d4e4, #d1cbdf);
    z-index: 999;
  }

  .mobileBtn {
    display: block;
  }

  nav {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0;
    left: 0;
  }

  .closeBtn {
    margin: 5%;
  }

  #mobileMenuBtn:checked ~ nav {
    display: block;
  }

  .user-info {
    margin: 40px 0;
  }

  .user-info img {
    width: 25%;
  }
  .menuContain {
    width: 100%;
    align-items: center;
  }

  main {
    margin-top: 50px;
    flex-direction: column;
    margin-bottom: 80px;
    gap: 32px;
    padding: 24px 0;
    overflow-y: visible;
  }

  section {
    gap: 32px;
  }

  #currentMonthSelect {
    font-size: 2.7rem;
    background-size: 1.3rem;
  }

  .current-box {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
  }

  .recentPayment {
    gap: 10px;
  }

  .recentTop {
    position: relative;
  }

  .categoriesChart canvas {
    min-height: 300px;
    width: 100%;
  }

  #mobileBottom {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-top: thin solid var(--sub-purple-color);
    line-height: 50px;
    justify-content: space-around;
    background-image: radial-gradient(circle, #d9d4e4, #d1cbdf);
  }

  #mobileBottom a {
    font-size: 1.2rem;
  }

  .user,
  .editCategory {
    width: 100px;
    text-align: center;
  }

  #mobileAddExpenseArea {
    display: none;
  }

  .add-expense {
    position: relative;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 100%;
    background-color: #fff;
    top: -50%;
    line-height: 60px;
    font-size: 3.5rem;
    box-shadow: 2px 2px 5px var(--main-purple-color);
    z-index: 9;
  }

  #mobileAddExpenseArea.add-popup {
    display: block;
    position: absolute;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 50px;
    left: 0;
    padding: 50px;
    z-index: 2;
  }

  #mobileAddExpenseArea.add-popup {
    #inputForm {
      gap: 15px;
    }
    select,
    input,
    button {
      width: 100%;
    }
    button {
      padding: 10px;
    }
  }

  .popup-close-btn {
    text-align: right;
    font-size: 2.4rem;
  }

  .monthlyExpense,
  .recentPayment,
  .chartArea,
  .categoriesChart {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 10px #ccc3dc;
    border-radius: 16px;
  }

  button {
    padding: 2px 5px;
  }
}
